$primary-dark-blue-base: #003366;
$primary-orange-base: #FF6600;
$neutral-white-base: #FFFFFF;
$neutral-light-gray-base: #f4f4f4;
$neutral-medium-gray-base: #cccccc;
$neutral-dark-gray-base: #333333;
$success-green-base: #28a745;
$error-red-base: #e74c3c;